<!DOCTYPE html>
<html lang="en">

<body>

	<div class="container">
		<div class="navbar">
			<header>
				<ul class="nav navbar-nav">
					<li class="new"><a href="/creatures/new">New Creature</a></li>
					<li class="view"><a href="/creatures/view_list">Creatures List</a></li>
				</ul>
			</header>
		</div>

		<h1>Welcome, Bog Hunters!</h1>

		<h2>Choose An Option Above</h2>

		<!-- <% @creatures.each do |creature| %>
			<div>
				Name: <%= creature[:name] %><br>
				Description <%= creature[:description] %><br>
			</div><br>
		<% end %>
		<br> -->
	</div>

</body>
</html>