<p>That Critter Was a Little Too Ugly, Eh? Update that Entry Here</p>

<form action="/creatures<%= @creature.id %>" method="post">
	<input name="_method" type="hidden" value="put" >
	<label>Name: </label><input type="text" name="creature[name]" value="<%= @creature.name %>"><br>
	<label>Description: </label><br>
	<textarea name="creature[description]" value="<%= @creature.description %>"></textarea><br>
	<%= token_tag form_authenticity_token %>
	<button>Update Creature</button>
</form>